
body{
    background-color: white;
}


/* ____________________________________________________HEADER__________________________________________________________  */



header{
    background-color:#902E2E;
    height: 100px; 
    padding: 5px 0 0 30px;
  }

  header h1 a{
    color: white;
  }

h1{
    display: inline;
    color: #FFFFFF;  
    font-weight: bold;
    font-size: 70px;
}

h2{
    display: inline;
    font-size: 30px;
    color: #FFFFFF;
}

/* Menu burger pour responsive design */
nav a{
  display: none;
}

 /* sidenav menu */
 .sidenav {
  display: none;
}



/* ____________________________________________________________________________________________________________________  */

/* ____________________________________________________MAIN__________________________________________________________  */

h3{  
  text-align: center;
  font-size: 40px;
  padding-top: 70px;
}

h4{  
  font-size: 40px;
  padding-top: 70px;
  margin-left: 500px;
}


#main{
  background: linear-gradient(to top, #464E67, #ffffff);
  min-height: 100vh;
  
}

/* article {
}  */

/* Aside recherche récente */
aside{
  display: inline-block; 
  background: linear-gradient(to top, #336EA5, #B6B9C3);
  width: 270px;
  height: 450px;
  text-align: center;
  color: white;
  padding-top: 50px;  
}

/* Aside "artistes récemment consultés" */
.historique{
  display: inline-block;
  vertical-align: top;
  margin-left: 1230px;
  margin-top: -600px;
  width: 500px;
  text-align: center;
  font-size: 30px;  
}
.historique img{
  width: 70%;
  margin: 20px;
}



/* Images des aritsites  */
.artistes{  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}
 /* Apparait que sur smartphone et tablette */
.artistesresp{
  display: none;
}

.artistes img{
  width: 250px;
  height: 250px;
  margin: 20px;
  border: 7px solid #FAFAFA;
  border-radius: 7%
}

/* Effet au passage de la souris pour signaler une interaction */
.artistes img:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.12), 10px 10px 10px rgba(0,0,0,0.24);
  transition: all 0.3s ease-out;
  border: 5px solid rgba(0, 0, 0, 0.192);
}

/* Première rangée d'images */
.rangee1{  
  margin: 10px 0 0 -150px;
}

.rangee2resp{ 
 display: none;
}

/* Icônes réseaux sociaux */
.icones{
  text-align:center;
  word-spacing: 30px;
  margin-top: 30px;
}

.iconespageartistes{
  text-align:center;
  word-spacing: 30px;
  margin-top: -30px;
  margin-left: 230px;
}
.iconesresp{
  display: none;
}

.asideresp{
  display: none;
}

.listento{
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 27px;
  width: 110%;
}


/* Card aritstes */
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 100px;
}
.card{
  padding: 10px;
  background-color: #171717;
  color: #FAFAFA;  
  border-radius: 2%;
  margin-top: 100px;
  
}
.card-img-top{
  border-radius: 2%;
}

/* Aside dates de concerts */
.concerts{
  background: linear-gradient(to top, #336EA5, #B6B9C3);
  color: white;
  text-align: center;
  margin-left: -15px;
  width: 420px;
  height: 584px;
  margin-top: 110px;
  
}

p{
 
  font-size: 25px;
}
.concerts li{
  text-align: left;
  padding-top:10px;
  list-style: none; 
}
/* .txtconcerts2{

} */

/* Barre de recherche */
.searchbar{
  display: flex;
  justify-content: center;
  height:60px;
  margin-top: 60px;
  display: flex;
  padding: 10px;
  left: 40%;  
  outline: none;
}
.round-left {
  padding: 5px 10px;
  border: 1px solid #7F8596;
  background: #ffff;
  border-right: none;
  border-radius: 30px 0 0 30px;
  outline-style: none;
  width: 440px;
  height: 60px;
}
.round-right {
  padding: 5px 10px;
  border: 1px solid #7F8596;
  background: #ffff;
  border-radius: 0 30px 30px 0;
  border-left: none;
  outline-style: none;
  padding: 5px 20px;
    height: 60px;
  
}








/* ______________________________________________________________________________________________________________  */


/* ____________________________________________________FOOTER____________________________________________________  */

footer {    
  color: grey;
  background-color: #171717;
  padding: 20px;
}

footer ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    color: grey;
  }
  
footer li{
    padding-right: 50px;
    font-size: 20px;
  }

  a{
    color:grey;
  }
  /* Le texte change de couleur au passage de la souris pour signaler une interaction */
   a:hover{
    text-decoration: none;
    color: #FAFAFA;
  }
/* ______________________________________________________________________________________________________________  */



/* __________________________________________MEDIA QUERIES (Responsive design)___________________________________  */

/* Pour smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){  

  header{
    height: 130px;
    padding: 0 0 0 220px;
  }
  h1{
    font-size: 90px;
  }
  h3{
    font-size: 50px;
  }
  h4{
    margin-left: 230px;
    font-size: 50px;
  }
  h5{
    font-size:40px;
  }
  p{
    font-size: 45px;
  }


  /* PAGE HOME */

  .artistes img{
    width: 700px;
    height: 700px;
    margin-left: -270px;
  }

  .rangee1{  
    width: 0;
  }
  .rangee2{
    display: none;
  }
  .rangee2resp{ 
    display: block;
    width: 0;
    margin-top: 3710px;
    margin-left: -1120px;
   }

  .icones{
    margin-top: 60px;
    padding-bottom: 60px;
  }

  .asideresp{
    display: none;
  }


  /* PAGE ARTISTE */

  .container {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 124px;
  }
   
  .card {
   
    font-size: 37px;
    
  }
  .card-title {
   
    font-size:50px;
    
  }
  .concerts{
    display: inline-block;
    margin: auto;
    width: 670px;
    height: 400px;
    
  }
  .concerts li{
    font-size: 30px;
    
  }

  .listento {
    display: none;
  }

  .iconesresp{
    display: block;
    word-spacing: 30px;
    text-align: center;
    margin-top: 100px;
  }

  nav a{
    display: inline-block;
    font-size: 90px;
    color: white;
    margin-right: 190px;
    margin-left: -200px;
    
}

.round-left{
  font-size: 40px;
  width: 490px;
  height: 70px;
}
.round-right{
  font-size: 30px;
  height: 70px;


}

 /* sidenav menu */
 .sidenav {
   display: block;
  margin: 122px 0px 0px -220px;
  height: 20%; 
  width: 0; /* change avec JavaScript */
  position: fixed;
  z-index: 1; 
  background: linear-gradient(to top, #464E67, #ffffff);
  overflow: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}
.sidenav a {
  padding: 20px 20px 20px 20px;
  font-size: 25px;
  color: #FAFAFA;
  display: block;
  transition: 0.3s
}
/* sidenav "surbrillance" */
.sidenav a:hover, .offcanvas a:focus{
  text-decoration: none;
  color:rgb(63, 63, 114);
}
/*  sidenav closebtn*/
.sidenav .closebtn {
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: rgb(63, 63, 114);
}


/* FOOTER */

footer ul{
  padding-right: 10px;
  padding-top: 10px;
}
footer li{
  font-size: 30px;
  padding-right: 30px;
}

}


/* Pour tablettes */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


  header{
    height: 130px;
    padding: 0 0 0 220px;
  }
  h1{
    font-size: 90px;
  }
  h3{
    font-size: 50px;
  }
  h4{
    margin-left: 230px;
    font-size: 50px;
  }
  h5{
    font-size:30px;
  }
  p{
    font-size: 30px;
  }
  
  nav a{
    display: inline-block;
    font-size: 90px;
    color: white;
    margin-right: 190px;
    margin-left: -200px;  
  }

  article{
    padding-bottom: 70px;
  }

    /* PAGE HOME */

    .artistes{
      display: none;
     }

    .artistesresp{
      display: flex;
      flex-wrap: wrap;
    }

    .artistesresp img{
      width: 250px;
      height: 250px;
      border: 7px solid #FAFAFA;
      border-radius: 7%;
      margin: 50px 0 0 56px;
    }

    .icones{
      display: inline-block;
    }
    
    .asidetab{
    background: linear-gradient(to top, #336EA5, #B6B9C3);
    color: white;
    width: 270px;
    text-align: center;
    display: flex;
    margin-left: 60px;
    height: 390px;
    margin-top: -160px;
    }
  
  
    /* PAGE ARTISTE */

    .container{
      max-width: 900px;
      margin-left: 10px;
  }


    .card-deck .card {

      flex: 1 0 0%;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 100px;
  }
  
    .concerts{
      margin-left: -20px;
      height: 530px;
      margin-top: 100px;
  }
  
    .listento{
      margin-left: 40px;
      width: 860px;
  }

    .searchbar, .icones{
      margin-left: 360px;
    }
   

   /* SIDENAV MENU */
   .sidenav {
     display: block;
    margin: 122px 0px 0px -220px;
    height: 20%; 
    width: 0; /* changera avec JavaScript */
    position: fixed;
    z-index: 1; 
    background: linear-gradient(to top, #464E67, #ffffff);
    overflow: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  .sidenav a {
    padding: 20px 20px 20px 20px;
    font-size: 25px;
    color: #FAFAFA;
    display: block;
    transition: 0.3s
  }
  /* sidenav "surbrillance" */
  .sidenav a:hover, .offcanvas a:focus{
    text-decoration: none;
    color:rgb(63, 63, 114);
  }
  /*  sidenav closebtn*/
  .sidenav .closebtn {
    position: absolute;
    text-decoration: none;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: rgb(63, 63, 114);
  }
  
  
  /* FOOTER */
  
  footer ul{
    padding-right: 10px;
    padding-top: 10px;
  }
  footer li{
    font-size: 30px;
    padding-right: 30px;
  }
  
  }


/* ______________________________________________________________________________________________________________  */